extends edit

block vars
  - url = 'https://www.anne-ammann.de'

block title
  | Unternehmensprofiling Anne Ammann

block slides
  +slide(asset('images/ammann_laptop.jpg'))
  +slide(asset('images/ammann_tabPhone.jpg'))

block description
