extends edit

block vars
  - url = 'https://www.any-com.ch'

block title
  | anycom Budde & Co. | St. Gallen, Schweiz

block slides
  +slide(asset('images/any-com_laptop.jpg'))
  +slide(asset('images/any-com_phoneTab.jpg'))

block description
