extends edit

block vars
  - url = 'https://dratanassov.web-design.io'

block title
  | Dr. Atanassov

block slides
  +slide(asset('images/atanassov_HomeLaptop.jpg'))
  +slide(asset('images/atanassov_contact.jpg'))

block description
