extends edit

block vars
  - url = 'https://www.hls-fachplanung.de'

block title
  | Planungsbüro Müller

block slides
  +slide(asset('images/pbm_Nacher.jpg'))
  +slide(asset('images/pbm_phone.jpg'))
  +slide(asset('images/pbm_tablet.jpg'))

block description
