extends base

block content
  #content
    section.section.swatch-white-red.has-top
      .decor-top
        svg.decor(height='100%', preserveaspectratio='none', version='1.1', viewbox='0 0 100 100', width='100%', xmlns='http://www.w3.org/2000/svg')
          path(d='M0 100 L50 0 L100 100', stroke-width='0')
      .container
        header.section-header.text-center.underline
          h1.headline.super.hairline Impressum
          p
            | web-design.io ist eine Marke von domachine.
        .row
          .col-md-6
            h3 Adresse
            | domachine GbR
            br
            | Lise-Meitner-Straße 9
            br
            | 89081 Ulm
            br
            br
            p
              b Gesellschafter
              |  Dominik Burgdörfer und Björn Schmidtke
              br
              b Inhaltlich verantwortlich
              |  Dominik Burgdörfer, Adresse wie oben
          .col-md-6
            h3 Kontakt
            b Telefon
            |  +49 (0) 731 985 88 136
            br
            b E-Mail
            |  info@domachine.de
            br
            b Website&nbsp;
            a(href='https://www.domachine.de') domachine.de
